body.debug .container,
body.debug .container-fluid {
  outline: 2px double blue;
  outline-offset: -2px;
}

body.debug .row {
  outline: 2px dashed red;
  outline-offset: -2px;

}

body.debug [class*="col-"] {
  outline: 2px dotted forestgreen;
  outline-offset: -3px;
}

.box-shadow {
  box-shadow: 0 2px 2px 2px rgb(237, 237, 237);
}

.font-large {
  font-size: 8rem;
}

.mt-n3 {
  margin-top: -3rem;
}

.banner {
  height: 80vh;
}

img {
  max-height: 45vh;
  box-shadow: 1px 2px 5px 5px rgb(187, 185, 185);
}